<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airbnb Bot</title>
</head>
<body>
<form method="post" action="/">
    <div class="user">
        <label for="users">Choose a user:</label>
        <select name="users" id="users">
          <option value="fonevo5863@moenode.com">fonevo5863@moenode.com</option>
        </select>
    </div>
    <br>
    <input name="host_id" type="text" placeholder="Host user id?">
    <br>
    <textarea name="message" placeholder="What's your message?"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>